{% paginate search.results by 10 %}
  <div class="container my-5">
    <div class="row">
      <form action="/search" method="get" role="search">
        <input class="form-control mb-4 rounded-0 form-control-lg" type="search" name="q" value="{{ search.terms | escape }}">
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="product-type" name="type" value="product">
          <label for="product-type" class="form-check-label">Products</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="article-type" name="type" value="article">
          <label for="article-type" class="form-check-label">Articles</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="page-type" name="type" value="page">
          <label for="page-type" class="form-check-label">Pages</label>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>

    <div class="row">
      <h1 class="text-center">{{ search.results_count }} search result{% if search.results_count > 1 %}s{% endif %}</h1>
    </div>

    <div class="row row-cols-3 g-2 my-5">
      {% if search.performed %}
        {% for item in search.results %}
          {% if item.object_type == 'product' %}
            <div class="col">
              <div class="card shadow">
                {% if item.featured_image %}
                  <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                    {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt, 'card-img-top' }}
                  </a>
                {% else %}
                  {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
                {% endif %}
                <div class="card-body">
                  <h5>{{ item.title | link_to: item.url }}</h5>
                  <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
                </div>
              </div>
            </div>
          {% elsif item.object_type == 'article' %}
            <div class="col">
              <div class="card shadow">
                {% if item.image %}
                  <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                    {{ item.image.src | img_url: 'medium' | img_tag: item.image.alt, 'card-img-top' }}
                  </a>
                {% endif %}
                <div class="card-body">
                  <h5>{{ item.title | link_to: item.url }}</h5>
                  <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
                </div>
              </div>
            </div>
          {% elsif item.object_type == 'page' %}
            <div class="col">
              <div class="card shadow">
                <div class="card-body">
                  <h5>{{ item.title | link_to: item.url }}</h5>
                  <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
                </div>
              </div>
            </div>
          {% endif %}
        {% else %}
          No Results
        {% endfor %}
      {% endif %}
    </div>

    <div class="row">
      {% render 'pagination', paginate: paginate %}
    </div>
  </div>
{% endpaginate %}
